.container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display {
    border-color: black;
    background-color: aliceblue;
    color: white;
    display: flex;
}

.rows {
    display: flex;
}

button {
    width: 50px;
    height: 25px;
    display: flex;
    background-color: black;
    color: white;
    font-style: bold;
    align-items: center;
    border-radius: 5px;
}