.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
.display {
    border-color: black;
    background-color: aliceblue;
    color: white;
    display: flex;
    height: 50px;
}

.rows {
    display: flex;
    gap: 10px;
}

button {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: black;
    color: white;
    font-style: bold;
    border-radius: 15px;
}