.container {
    width: 500px;
    height: 600px;
}
output {
    width: 50px;
    height: 25p;
    border-color: black;
}
.rows {
    display: flex;
    flex-direction: row;
}

button {
    width: 50px;
    height: 25px;
    display: flex;
    background-color: black;
    color: white;
    font-style: bold;
    align-items: center;
    border-radius: 5px;
}